<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css"> -->

    <link rel="stylesheet" href="{% static 'css/Login-style.css' %}">
</head>
<body>

<div class="main">
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="{% static 'Images/Forget-Password-Image.jpg' %}" alt="Reset Password"></figure>
                </div>
                <div class="signin-form">
                    <h2 class="form-title">Reset Password</h2>
                    {% if msg %}
                    <center><h3>{{msg}}</h3></center>
                    {% endif %}
                    <div class="form-right">

                        <form method="POST" class="register-form" id="login-form" action="/reset-password-api/">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="form-control">
                                        <input type="password" id="password" name="user_password" placeholder="Password"
                                               required/>
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="form-control">
                                        <input type="password" id="password2" name="user_password_cnf"
                                               placeholder="Confirm Password" required/>
                                        <i class="fas fa-check-circle"></i>
                                        <i class="fas fa-exclamation-circle"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Reset"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- JS -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="js/User_Reset_Validations.js"></script>
</body>
</html>